
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Noto+Sans+KR:wght@400;500;700&display=swap');

.init-image {
    background-image: url("https://cdn.pixabay.com/photo/2016/04/27/20/38/girl-1357485_1280.jpg");
    background-size: cover;
}

.moirai-one {
    font-family: "Moirai One", cursive;
}